{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>My Profile</title>
	<link rel="stylesheet" type="text/css" href="{% static 'greenMinds/freelancer.css' %}">
</head>
<body>
    <h1>My Profile</h1>
    <div class="profile-container">
      <div class="profile-section">
        <h2>Profile Picture</h2>
        <img src="{% static 'greenMinds/pf pic2.webp' %}" alt="Profile Picture" class="profile-picture">
        <input type="file" id="profile-picture-input" accept="image/*">
        <button class="update-button" id="update-profile-picture-button">Update Profile Picture</button>
      </div>
      <div class="profile-section">
        <h2>User Name</h2>
        <p>{{ profile.username.username }}</p>
        <button class="update-button">Update User Name</button>
      </div>
      <div class="profile-section">
        <h2>My Score</h2>
        <div class="star-rating">
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star checked"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
        </div>
        <p> {{ profile.rate }} </p>
      </div>
      <div class="profile-section">
        <h2>Jobs Completed</h2>
        <p>{{ profile.completedJobs }}</p>
      </div>
      <div class="profile-section">
        <h2>Join Date</h2>
        <p>{{ profile.joinedDate|date }}</p>
      </div>
      <div class="profile-section">
        <h2>Skills</h2>
        <p>Web Design, HTML, CSS, JavaScript</p>
        <button class="update-button">Update Skills</button>
      </div>
      <div class="profile-section">
        <h2>About Me</h2>
        <p>{{profile.about}}</p>
        <button class="update-button">Update About Me</button>
      </div>
      <div class="profile-section">
        <h2>Certifications</h2>
        <p>None</p>
        <button class="update-button">Attach Certifications</button>
      </div>
      <div class="profile-section">
        <h2>Wallet (CAD)</h2>
        <p>{{ profile.wallet }}</p>
      </div>
      <div class="profile-section">
        <a class="fcc-btn" href="{% url 'reportFreelancer' %}">Report</a>  
      </div>
      <div class="profile-section">
        <button class="invite-button">Invite Friends</button>
      </div>
      <div class="profile-section">
        <button class="my-dashboard">My Dashboard</button>
      </div>
    </div>
  </body>
  