{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'greenMinds/login.css' %}">
  </head>
  <body>
    <form>
      <h1>Login</h1>
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
      <button type="submit">Login</button>
      <button onclick="window.location.href='https://accounts.google.com/o/oauth2/auth?response_type=code&client_id=YOUR_CLIENT_ID&redirect_uri=YOUR_REDIRECT_URI&scope=openid%20email%20profile'" id="google">Sign in with Google</button>
      <button onclick="window.location.href='https://www.facebook.com/v12.0/dialog/oauth?client_id=YOUR_APP_ID&redirect_uri=YOUR_REDIRECT_URI&response_type=code&scope=email%20public_profile'" id="facebook">Sign in with Facebook</button>
    </form>
    <p>Dont have an account? <a href="{% url 'signUp' %}">sign up here</a>.</p>
  </body>
</html>
