{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>My Profile</title>
	<link rel="stylesheet" type="text/css" href="{% static 'greenMinds/profile.css' %}">
</head>
<body>
	<h1>My Profile</h1>
	<div class="button-container">
		<a href="{% url 'freelancer'%}"><button class="freelancer-button">I am a freelancer!</button></a>
		<a href="{% url 'employer' %}"><button class="employer-button">I am an employer!</button></a>
	</div>
	<div class="testimonial-container">
		<h2>Testimonials</h2>
		<div class="testimonial">
			<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut dui auctor, maximus elit sit amet, rhoncus odio. Etiam quis lorem et felis ullamcorper ornare. Sed ac nunc eget diam luctus tincidunt."</p>
			<p class="client-name">- John Smith</p>
			<p class="client-job">CEO, Acme Inc.</p>
		</div>
		<div class="testimonial">
			<p>"Pellentesque consequat, ex vel ultrices placerat, nisi sapien rhoncus libero, a dictum mauris dolor at sapien. Nullam vel erat id est convallis congue vitae non purus."</p>
			<p class="client-name">- Jane Doe</p>
			<p class="client-job">Marketing Manager, XYZ Corp.</p>
		</div>
	</div>
</body>
</html>
